{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block head %}


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/base.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/datepicker.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/fontselect.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/multi-select.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/qunit.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}theme/misc/select2.css">
{{ block.super }}
{% endblock %}

{% block title %} {% trans "Search" %} - {{ block.super }} {% endblock %}

{% block body_class %}search{% endblock %}

{% block body %}
    <div class="span12">
      <h2 class="page-title">{% trans "Search" %}</h2>
    </div>
    <div class="span8 filter">
      {% include "search/_sort_filters.html" %}
    </div>
    <div class="span4">
      <div class="pull-right" data-viewby="list">
        {% include "_viewby.html" %}
      </div>
    </div>
    <div class="span12">
      <div class="row" id="contain-slider">
        <div class="span4">
          <div class="selections">
            <h4>
              {% trans "Your selections" %}
              <a href="." id="clear-search" class="pull-right">Clear all</a>
            </h4>
          </div>
          <div id="slide-pane">
            <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
            {% include "search/_type_filters.html" %}
	          {% include "search/_extent_filter.html" %}
            {% include "search/_general_filters.html" %}
          </div>
        </div>
        <div class="tab-content span8 paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div>
      </div>
    </div>
{% endblock %}

{%  block footer %} {{ block.super }} {%  endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.timeago.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.ajaxprogress.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.ajaxQueue.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery-ui.custom.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/jquery.raty.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/json2.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/select2.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/misc/waypoints.js"></script>
    <script src="{{ STATIC_URL }}geonode/script/base.js"></script>
    <script src="{{ STATIC_URL }}geonode/script/utils.js"></script>
    <script>
        $("#search").select2({
            minimumInputLength: 1,
            placeholder: 'Search...',
            width: 'element',
            ajax: {
                url: '{% url "search_api" %}',
                data: function(term,page){
                    page = (page - 1) * 10;
                    return {
                        type: 'all',
                        limit: 10,
                        sort: 'none',
                        start: page,
                        q: term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '')
                    }
                },
                results: function(data, page) {
                    var more = (page * 10) < data.total;
                    return {
                        results: $.map(data.results,function(object){
                            return {id: object.id, text: object.title, url: object.detail };
                        }),
                        more: more
                    }
                }
            },
            createSearchChoice:function(term, data) {
                term = term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
                if ($(data).filter(function() {
                    return this.text.localeCompare(term)===0; }).length===0) {
                    return {id:term, text:term};
                }
            },
            formatSelection: function(item){
                if(item.url != undefined) {
                    window.location.href = item.url;
                } else {
                    $('#search').val(item.text);
                    $('#search').parent().submit();
                };
            }
        });
    </script>

    {% with include_spatial='true' %}
        {% include 'search_scripts.html' %}
    {% endwith %}
{% endblock extra_script %}

<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="{% url "lang" %}"></script>
<style type="text/css">
    .select2-drop{
        color: black;
    }
</style>
