{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load url from future %}

{% block head %}


<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/datepicker.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/fontselect.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/multi-select.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/qunit.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/select2.css">
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}geonode/externals/lib/css/base.css">
{{ block.super }}
{% endblock %}

{% block title %} {% trans "Search" %} - {{ block.super }} {% endblock %}

{% block body_class %}search{% endblock %}

{% block content %}
    <div style="margin:10px;padding:10px;">
    <div class="col-lg-12">
      <h2 class="page-title">{% trans "Search" %}</h2>
    </div>

    <div class="col-lg-12 filter">
      Search:<input type="text" id="wordsearch">
      {% include "search/_sort_filters.html" %}
    </div>




    <div class="col-lg-12">
      <div class="row" id="contain-slider">
        <div class="span4">
          <div class="selections">
            <h4>
              {% trans "Your selections" %}
              <a href="." id="clear-search" class="pull-right">Clear all</a>
            </h4>
          </div>
          <div id="slide-pane">
            <a href="#" class="toggle toggle-pane"><i class="icon-chevron-left"></i></a>
            {% include "search/_type_filters.html" %}

            {% include "search/_general_filters.html" %}
          </div>
        </div>
        <div class="tab-content span6 paginate paginate-auto" id="search-content">
          {% include 'search/search_content.html' %}
        </div>
          <div class="tab-content" id="map-content">

                      <div class="control-group">
                          <div id="search_map" class="search-map" style="width:100%;"></div>
                          <div class="controls hidden" >
                              <input type="text" id="extent" class="trigger-extent" name="extent" />
                          </div>
                      </div>


          </div>
      </div>
    </div>
    </div>
{% endblock %}

{%  block footer %} {{ block.super }} {%  endblock %}

{% block extra_script %}

    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery.timeago.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery.ajaxprogress.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery.ajaxQueue.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery-ui.custom.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/jquery.raty.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/json2.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/select2.js"></script>
    <script src="{{ STATIC_URL }}geonode/externals/lib/js/waypoints.js"></script>
    <script src="{{ STATIC_URL }}geonode/script/base.js"></script>
    <script src="{{ STATIC_URL }}geonode/script/utils.js"></script>
    <script src="{{ GEONODE_CLIENT_LOCATION }}script/OpenLayers.js"></script>




    <script>
        $("#search").select2({
            minimumInputLength: 1,
            placeholder: 'Search...',
            width: 'element',
            ajax: {
                url: '{% url "search_api" %}',
                data: function(term,page){
                    page = (page - 1) * 20;
                    return {
                        type: 'all',
                        limit: 500,
                        sort: 'none',
                        start: page,
                        q: term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '')
                    }
                },
                results: function(data, page) {
                    var more = (page * 20) < data.total;
                    return {
                        results: $.map(data.results,function(object){
                            return {id: object.id, text: object.title, url: object.detail };
                        }),
                        more: more
                    }
                }
            },
            createSearchChoice:function(term, data) {
                term = term.replace(/[`~!@#$%^&*()_|+\-=?;:'",.<>\{\}\[\]\\\/]/gi, '');
                if ($(data).filter(function() {
                    return this.text.localeCompare(term)===0; }).length===0) {
                    return {id:term, text:term};
                }
            },
            formatSelection: function(item){
                if(item.url != undefined) {
                    window.location.href = item.url;
                } else {
                    $('#search').val(item.text);
                    $('#search').parent().submit();
                };
            }
        });


        function resizeMap() {
            var canvasheight=$('#contain-slider').css('height');
            $('#search_map').css("height", canvasheight);
        }

        $().ready(function () {
            resizeMap();
        })

        $(window).resize(function () {
            resizeMap();
        });

    </script>

    {% with include_spatial='true' %}
        {% include 'search_scripts.html' %}
    {% endwith %}



{% endblock extra_script %}



<script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
<script type="text/javascript" src="{% url "lang" %}"></script>
<style type="text/css">
    .select2-drop{
        color: black;
    }
</style>
