
<script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/backbonejs/1.1.2/backbone-min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="/static/ogpsearch/resources/javascript/jquery.scrollTo-min.js"></script>
<script src="/static/ogpsearch/resources/javascript/spinners/spinners/spinners.min.js"></script>
<script src="/static/ogpsearch/resources/javascript/jquery.ba-postmessage.min.js"></script>
<script src="//maps.google.com/maps/api/js?v=3.10&sensor=false"></script>
<!--  <script src="/static/ogpsearch/resources/javascript/openlayers/OpenLayers-2.11/OpenLayers.js"></script> -->
<script type="text/javascript" src="http://openlayers.org/api/2.11/OpenLayers.js"></script>

<script src="/static/ogpsearch/resources/javascript/panZoom.js"></script>
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

<link rel="stylesheet" href="/static/ogpsearch/resources/css/jquery-ui-ogpTheme.custom.css" type="text/css" />

<!-- from ogp_home.jsp config -->
<script>

OpenGeoportal = {};
OpenGeoportal.Config = {};
OpenGeoportal.Config.analyticsId="${analyticsId}";
//OpenGeoportal.Config.searchUrl="http://geodata.tufts.edu/solr/select";
//OpenGeoportal.Config.searchUrl="http://localhost:8983/solr/wmprod/select";
//OpenGeoportal.Config.searchUrl="http://localhost:8983/solr/all/select";
OpenGeoportal.Config.searchUrl="{{SOLR_URL}}/select";
//OpenGeoportal.Config.searchUrl="http://107.22.231.227:8983/solr/ogpsearch/select";
OpenGeoportal.Config.loginRepository="Harvard";
OpenGeoportal.Config.loginType="";
OpenGeoportal.Config.loginUrl="";
OpenGeoportal.Config.sd="";
OpenGeoportal.Config.shareIds="" ;
OpenGeoportal.Config.shareBbox="";

</script>


<!-- from dev includes -->
<link rel="stylesheet" href="/static/ogpsearch/resources/css/google.css" type="text/css" />

<link rel="stylesheet" href="/static/ogpsearch/resources/css/structure.css"
        type="text/css" />
<link rel="stylesheet" href="/static/ogpsearch/resources/css/mapDiv.css" type="text/css" />
<link rel="stylesheet" href="/static/ogpsearch/resources/css/localize.css"
        type="text/css" />
<link rel="stylesheet" href="/static/ogpsearch/resources/css/localizeHarvard.css"
        type="text/css" />
<link rel="stylesheet" href="/static/ogpsearch/resources/css/geostats.css"
        type="text/css" />


<!-- ogp javascript library files -->

<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/models/config.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/utility.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/templates/template.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/analytics.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/geocoder.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/layerInfoPageUi.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/tableItems.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/commonControls.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/resultItem.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/basemapModel.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/tableConfig.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/tableLayerSettings.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/tableSortSettings.js"></script>
<script type="text/javascript"
on	src="/static/ogpsearch/resources/javascript/lib/models/protocolAwareModel.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/previewedLayers.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/cartCollection.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/downloadQueue.js"></script>
<script type="text/javascript"
	src="/static/ogpsearch/resources/javascript/lib/models/loadIndicator.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/models/userModel.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/views/loginView.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/appSettings.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/queryModel.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/leftPanelModel.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/heatmapModel.js"></script>

<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/selectBoxes.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/mapLoadIndicator.js"></script>
                <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/layerRow.js"></script>
                <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/layerTable.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/cartHeader.js"></script>
                <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/cartRow.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/cartTable.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/leftPanel.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/models/externalPreviewWindowsCollection.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/abstractCartAction.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/download.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/shareCart.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/mapIt.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/dynamicWebServices.js"></script>

<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/search.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/previewControls.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/previewedLayersRow.js"></script>
        <script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/previewedLayersTable.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/searchResultsRow.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/solr.js"></script>
<script type="text/javascript"
        src="/static/ogpsearch/resources/javascript/lib/views/searchResultsTable.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/HeatmapLayer.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/geostats.js"></script>




<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/geoCommonsExport.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/mapDiv.js"></script>
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/userInterface.js"></script>

<!-- main ogp script -->
<script type="text/javascript" src="/static/ogpsearch/resources/javascript/lib/worldMapMain.js"></script>

<!-- <script type="text/javascript" src="resources/javascript/ogp.js"></script>-->

<!-- <script type="text/javascript" src="javascript/testOverviewMap.js"></script>-->
<!-- We should move to using a cdn where possible with a locally hosted fallback -->
<!--
<script type="text/javascript">
var fallbackURL = "javascript/jquery/js/jquery-1.6.4.min.js";
if (typeof jQuery == 'undefined') {
    document.write("<script src=\"" + fallbackURL + "\" type = \"text/javascript\"></" + "script>");
}
</script>
-->

<!-- from header.jspf -->
<div class="introMask"></div>
<div id="header">

  <div id="logo" onclick="location.href=location.href">
                <!-- <div id="logoGraphic"></div><div class="logoText">WorldMap</div> <div class="logoText offsetColor"></div> -->
                <div style="font-size: 20px">Harvard Geoweb Search Prototype</div>
        </div>
        <div id="top_menu">
                <button class="reset button headerButton">Reset</button>
                <span class="separator">|</span>
		<button id="userGuideLink" class="infoLinks button headerButton">Help</button>
                <span class="separator">|</span>
		<button id="highlightsLink" class="infoLinks button headerButton">About</button>
                <!-- <span class="separator">|</span>
                <button id="headerLogin" class="infoLinks login button headerButton">Login</button> -->
		</div>
</div>



<!-- from search.jspf -->
<div id="searchBox" class="searchBox shadowDownOuter">
        <form id="searchForm" onsubmit="return false;">
                <div id="searchCol1" class="searchCol">
                        <div id="geosearchDiv"
                                class="basicSearch whereBox searchFormRow searchRow1 is-disabled">
                                <label for="whereField"><span class="labelText">Where:</span></label>
                                <input id="whereField" type="search" />
                        </div>
                        <div class="advancedSearch searchFormRow searchRow2">
                                <span class="formCheckbox searchFormInput is-disabled"> <input
                                        type="checkbox" name="mapFilterCheck" id="mapFilterCheck"
                                        class="mapFilterFlag" value="ignore" /> <label
                                        for="mapFilterCheck">Ignore map extent (Where)</label>
                                </span>
                        </div>
                        <div class="advancedSearch searchFormRow searchRow3">
                                <label>Topic:</label>
                                <div id="topicDropdown" class="searchFormInput is-disabled"></div>
                        </div>
                </div>
                <div id="searchCol2" class="searchCol">
                        <div class="basicSearch whatBox searchFormRow">
                                <label for="whatField"> <span class="labelText"><!-- What: --></span>
                                </label> <input id="whatField" type="search" />
                        </div>

                        <div class="advancedSearch searchFormRow searchRow1">
                                <label for="advancedKeywordText">Keyword:</label> <input
                                        name="advancedKeywordText" type="search" class="searchFormInput"
                                        id="advancedKeywordText" />
                        </div>
                        <div class="advancedSearch searchFormRow searchRow2">
                                <label>Data Type:</label>
                                <div id="dataTypeDropdown" class="styledDropdown searchFormInput">
                                </div>
                        </div>
                        <div class="advancedSearch searchFormRow searchRow3">
                                <label>Repository:</label>
                                <div id="repositoryDropdown" class="searchFormInput"></div>
                        </div>
                        <div class="advancedSearch searchFormRow searchRow4 is-disabled">
                                <span class="formCheckbox searchFormInput"> <input
                                        type="checkbox" name="restrictedCheck" id="restrictedCheck" />
                                        <label for="restrictedCheck">Include Restricted Data</label>
                                </span>
                        </div>
                </div>
                <div id="searchCol3" class="searchCol">
                        <div class="basicSearch basicSearchButtons searchFormRow">
                                <button id="moreSearchOptions" class="searchToggle button offsetColor" tabindex="0" >Advanced
                                        Search</button>
                        </div>
                        <div class="advancedSearch searchFormRow searchRow1">
                                <label for="advancedOriginatorText">Originator:</label> <input
                                        name="advancedOriginatorText" type="search" class="searchFormInput"
                                        id="advancedOriginatorText" />
                        </div>
                        <div class="advancedSearch searchFormRow searchRow2">
                                <label for="advancedDateFromText">Year(s):</label> <span
                                        class="searchFormInput"> <input name="advancedDateFromText"
                                        type="search" id="advancedDateFromText" size="4" /> to <input
                                        name="advancedDateToText" type="search" id="advancedDateToText"
                                        size="4" />
                                </span>
                        </div>
                        <div class="advancedSearch searchFormRow advancedSearchButtons searchRow4">
                                <button id="lessSearchOptions" class="searchToggle button offsetColor" tabindex="0" >Basic
                                        Search</button>
                        </div>
<div align="right"><i>Powered by <a href="http://opengeoportal.org/" target="_blank">OGP</a>, <a href="http://lucene.apache.org/core/4_0_0/spatial" target="_blank">Spatial Lucene</a>, and <a href="http://geonode.org/" target="_blank">GeoNode</a></i></div>
                </div>
        </form>
</div>


<!--  -->
<div id="container">
  <div id="left_col" class="shadowRightOuter">

<!-- from leftPanel.jspf -->
<div class="contents slideVertical" >
        <div class="arrow_buttons">
                <button class="arrow_left button" title="collapse left"></button>
                <div class="arrow_separator"></div>
                <button class="arrow_right button" title="expand right"></button>
        </div>
        <div id="tabs">
                <ul>
                        <li><a href="#searchTab">
                                        <div id="searchTabText" class="tabText">
                                                <div>
                                                  <span id="resultsNumber" class="resultsNumber"> 0 </span> Results
                                                </div>
						</div>
					</a></li>
			<li><a href="#cartTab">
			    <div id="cartTabText" class="tabText">
                                                <div class="shoppingCartIcon"></div>
                                                <div id="cartTabTextInner">
                                                        Cart <span id="savedLayersNumberTab" class="savedLayersNumber">(0)</span>
                                                </div>
						</div>
			    </a></li>
                </ul>
                <div id="searchTab">
		  <!-- from results.jspf -->
		  <div id="resultsTableHeader" class="tableHeader">
		    <div id="sortDropdown">Sort Results</div>
		    <div id="columnDropdown">Columns</div>
		    <button id="mapClearButton" title="Clear all layers from the map">
                      Clear Views</button>
		  </div>
		  <div id="searchResults">
		    <div id="searchResultsMessage" class="tableFooter"></div>
		  </div>


                </div>
                <div id="cartTab">
                        <div id="cartHeader" class="tableHeader"></div>
                        <div id="cart"></div>
                </div>
        </div>
</div>
<div id="roll_right" class="slideVertical">
  <button class="arrow_right button"></button>
</div>



    </div>
  <div id="map"></div>
  </div>


	<div id="dialogs" class="hiddenElements">
		<div id="about" class="dialog infoDialog">
	<p>The Open Geoportal (OGP) is a collaboratively developed, open source, federated web application framework
	to rapidly discover, preview and retrieve geospatial data from multiple repositories. The Open Geoportal
	Federation is a community of geospatial professionals, developers, information architects, librarians,
	metadata specialists and enthusiasts working together to make geospatial data and maps available on the
	web and contribute to global spatial data infrastructure.
 	</p>
 	<p>
	For more information please visit <a href="http://opengeoportal.org">http://opengeoportal.org</a>
	</p>
	<p>
		<span class="geodataContact">For questions, comments, or to
	report problems, please contact: <a
	href="mailto:geodata@elist.tufts.edu">geodata@elist.tufts.edu</a>
</span>
	</p>
</div>
		<div id="contact" class="dialog infoDialog">
	<p>
		<span class="geodataContact">For questions, comments, or to
	report problems, please contact: <a
	href="mailto:geodata@elist.tufts.edu">geodata@elist.tufts.edu</a>
</span>
	</p>

	<div>
		<h3>Project Management:</h3>
		Patrick Florance, Manager of Geospatial Technology Services, UIT,
		Tufts University
	</div>

	<div id="contactLogos">
		<div class="gisLogo" title="GIS@Tufts"
			onclick="location.href='http://gis.tufts.edu/'"></div>
		<div class="itLogo" title="UIT"
			onclick="location.href='http://uit.tufts.edu/'"></div>
	</div>
</div>

	</div>

	<div id="iframes" class="hiddenElements"></div>
	<div id="infoBubbles"></div>
