{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Log in" %}{% endblock %}

{% block body %}
<div class="twocol">
    <p>{% trans "Enter your email address and click the submit button.  Your username will be sent to you." %}</p>

    <form method="post" action="">
        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="{% trans 'Submit' %}" />
    </form>


    <div style="font-weight:bold;color:Red;padding:10px;">{{ message }}</div>


    <p><a href="/accounts/login">{% trans "Sign in" %}</a></p>

</div>
{% endblock %}
